.DS_Store
build
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata


# OS X temporary files that should never be committed

*.swp
*.lock
*.ipa
*.zip
*.generated.swift

# Misc
.svn



# files created by Xcode 3 or older
*.pbxuser
*.mode1
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcclassmodel/

# files created by Xcode 4
xcuserdata/
# build products
*.build/
build/
DerivedData/
*.moved-aside

# files created by Xcode 5
*.xccheckout

# CocoaPods
Pods
WorkspaceSettings.xcsettings
